.root {
  background: #fff;
  border-radius: 10px;
  border: 1px solid #eee;
  display: flex;
  flex-direction: column;
  padding: 2rem;
}

.fields > div {
  margin: 0 0 1rem 0;
}

button {
  margin: 1rem 0 0 0;
}

button + div {
  margin-top: 2rem;
}
